 #menu
 {
     margin: 0 auto;
     
 }
 .hora
 {
     width: 100px;
     height: 100px;
     
 }
 .ui-clock{
     width: 200px;
     height: 200px;
 }
 .ui-g-12{
     
     color: red;
 }
 div.ui-g-12{
     
   background: aqua  
 }
 .ui-g{
     
     background: #ff0000;
 }
 #ui-g{
     
    background: #75e89d;
 }